body {
  font-family: 'Raleway', sans-serif;
  background-color: #F4F6F7;
  margin-bottom: 200px;
}

label {
  font-size: 15px;
}

h1 {
  font-size: 80px;
  font-family: 'Architects Daughter', cursive;
}

h3 {
  margin-left: 200px;
}

label, select, button {
  margin-left: 150px;
  font-size: 15px;
  color: #212F3C;
  font-weight: bold;
}

form {
  border: dashed black 1px;
  margin: 30px 200px 50px 200px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 5px;
  background-color:
  #D4E6F1;
}

p {
  font-size: 15px;
  margin-left: 200px;
}

.image {
  position: relative;
  margin: auto;
  background-image: url(../img/bluemap2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  color: white;
  text-align: center;
  padding-top: 40px;
  font-size: 60px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px #aaa;
}

#florida, #washingtondc, #italy, #newzealand {
  display: none;
  text-align: center;
}
